@import './variables.css';

/*formular*/

  .tlacitko {
    border-radius: var(--radius);
    background-color: var(--hlavni-barva);
    font-weight: bolder;
    padding: 1em 1.5em;
    margin-top: 2em;
    color: var(--text);
    font-size: var(--velikost-pisma);
    box-shadow: var(--shadow);
    border: var(--border);
    display: flex;
    justify-content: center;
 
      }
  
  .tlacitko:hover {
    background-color: var(--sekundarni-barva);
    transition: var(--transition);
    color: var(--barva-pozadi);
    transform: scale(1.05);
  }

  .label {
    padding-bottom: 1em;;
  } 

 