@import './variables.css';

/*nadpisy a container*/
.container-uvod {
    display: flex;
    justify-content: center;
  }
  
  .textovy-blok {
    display: flex;
    flex-direction: column;
    width: 80%;
    border: solid 1px rgb(85, 83, 83);
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    margin: 2em;
    /* padding: var(--odsazeni); */
    background-color: var(--barva-pozadi);
    line-height: var(--line-height);
  }
  @media (min-width:760px){
    .textovy-blok {
      width: 65%;
    }
  }
  
  .nadpis {
    display: flex;
    justify-content: center;
    font-size: var(--velikost-nadpisu-maly);
    color: var(--text);
    margin: 0.5em;
    padding: 0;
  }
  @media (min-width: 560px){ 
    .nadpis {
      font-size: var(--velikost-nadpisu-velky);
    }
  }
  
  .uvod {
    font-size: var(--velikost-pisma);
    padding: var(--odsazeni);
    display: flex;
    flex-direction: column;
  }
  @media (min-width: 760px) {
    .uvod {
      padding: var(--odsazeni) 5em;
    }
  }
  .uvod a {
    text-decoration: none;
    color: var(--text);
    font-weight: bold;
  }
  .uvod a:hover{
    text-decoration: underline;
    text-decoration-color: var(--sekundarni-barva);
    text-decoration-thickness: 0.2em;
    text-underline-offset: 0.2em;
  }