:root {
  /* 🎨 Barvy */
  --barva-pozadi: #f9f9f9;
  --hlavni-barva: rgb(195, 236, 179, 0.7);
  --sekundarni-barva: #b7babd;
  --text: #464141;
  --text-light: #666;
  --shadow: 0 0 0 2px rgb(195, 236, 179, 0.7);
  --border: 1px solid  #666;

    /* 🧱 Rozměry */
    --odsazeni: 0.8em;
  --radius: 1em;
  --line-height: 1.6;
  --velikost-pisma: 0.9em;
  --velikost-nadpisu-maly: 1.2em;
  --velikost-nadpisu-velky: 2.5em;
  --velikost-navigace-maly:0.7em;
  --velikost-navigace-velky: 1em;

  /* ⏱ Přechody */
  --transition: all 0.3s ease;

  /* options */

}